doctype html
html
  head
    
    title= title
    link(href="../styles/style.css", rel="stylesheet")
  body
    div(class="max-w-sm w-full/2 rounded overflow-hidden shadow-lg color-green-500/50")
      block content
